<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:usesCleartextTraffic="false"
        >
        <activity
            android:name="cz.gopay.sdk.ui.PaymentVerificationActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="cz.gopay.sdk.ui.GooglePayLauncherActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true" />
    </application>

</manifest>
